// About Page Background
.aboutpage-splash {
    background-image: url("../images/background-line.png");
    background-size: 1920px;
    background-position: right 50% bottom 80%;
    background-repeat: no-repeat;
    height: 100vh;
}

// About Me Section Styles
.main-section {
    padding: 30px 30px 10px 30px;
}

.about-me-text {
    padding-top: 10px;
    font-size: 1em;
    line-height: $lineHeight;
}

// Background Section Styles
.background {
    font-size: 1em;
    line-height: $lineHeight;
    margin-top: 15px;
}

.company-title {
    font-weight: bold;
    padding: 10px 0px 5px 0px;
}

.job-title {
    font-style: italic;
    padding: 5px 0px 5px 0px;
}

.description { 
    padding: 5px 0px 5px 0px;
}

// Skills Section Styles 
.skills-title {
    line-height: $lineHeight;
    margin-top: 15px;
}

.skills-design,
.skills-dev {
    font-weight: bold;
    margin-top: 10px;
}

.skills-text {

    ul {
        list-style: none;
        padding: 0;
        line-height: $lineHeight;
    }
}

@media (min-width: 500px){
    .about-page-link,
    .eg-page-link,
    .website-link,
    .hive-page-link {
        width: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
  
@media (min-width: 800px){
    .about-page-link,
    .eg-page-link,
    .website-link,
    .hive-page-link {
        width: 40%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
  
@media (min-width: 1200px){
    .about-page-link,
    .eg-page-link,
    .website-link,
    .hive-page-link {
        width: 30%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}