// Responsibilities, Team Members, and Tech Stack Styles
.response,
.team,
.tech {

    li {
        list-style: none;
    }

    ul {
        padding: 0px 5px;
    }

    a {
        color: $boldColor;
        text-decoration: none;
    }
}

// Title Styles
.evergreen-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
}

.evergreen-text {

    h2 {
        padding-bottom: 10px;
    }
}

// Image Style
.eg-mockup {
    margin-top: 20px;
    margin-bottom: 20px;
}
