.wrapper-wallpaper {
  height: 100%;
  background: $accentColor;
}

.splash-title {
  text-align: center;
  line-height: 1.2;
  color: $boldColor;
  font-size: 1.7em;
}

.about-splash {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 30px 10px 10px 10px;
  line-height: $lineHeight;
}

.about-splash-text {
  padding: 10px 10px 10px 10px;
}

// Media Queries 
@media (min-width: 500px){
  .splash-title {
    font-size: 2em;
  }
  
  .about-me-link {
    width: 50%;
    transform: translate(50%, 20%);
    margin: 0;
  }

  .about-splash-text {
    padding: 10px 30px 10px 30px;
    word-break: break-word;
  }
}

@media (min-width: 800px){
  .splash-title {
    font-size: 2em;
  }
  
  .about-me-link {
    width: 40%;
    transform: translate(70%, 20%);
    margin: 0;
  }

  .about-splash-text,
  .about-splash {
    padding: 10px 50px 10px 50px;
    word-break: break-word;
    font-size: 18px;
  }
}

@media (min-width: 1200px){
  .splash-title {
    font-size: 2em;
  }
  
  .about-me-link {
    width: 30%;
    transform: translate(120%, 20%);
    margin: 0;
  }

  .about-splash-text,
  .about-splash {
    padding: 10px 50px 10px 50px;
    word-break: break-word;
    font-size: 18px;
  }
}