.home-title,
.splash-title {
    text-align: center;
}

.about-splash-text {
    padding: 15px;
}

.home {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
}

.projects {
    text-align: center;
}

.about-splash {
    // background-image: url(../images/hero-image.jpg);
}

.evergreen-law,
.hive,
.todo,
.portfolio {
    // border: 1px solid #000000;
    margin: 5px;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}

.portfolio,
.hive,
.evergreen-law,
.todo {
    margin-bottom: 30px;
}

.text,
.home-title {
    padding-bottom: 10px;
    text-align: center;
}

// .nav-icon {
//     margin: 1em;
//     width: 40px;
//   }
  
//   .nav-icon:after, 
//   .nav-icon:before, 
//   .nav-icon div {
//     background-color: #fff;
//     border-radius: 3px;
//     content: '';
//     display: block;
//     height: 5px;
//     margin: 7px 0;
//     transition: all .2s ease-in-out;
//   }

//   .nav-icon:hover:before {
//     transform: translateY(12px) rotate(135deg);
//   }
  
//   .nav-icon:hover:after {
//     transform: translateY(-12px) rotate(-135deg);
//   }
  
//   .nav-icon:hover div {
//     transform: scale(0);
//   }