// Skills Buttons
.skills-btn {
    padding: 10px;
    margin-left: 2px;
    margin-bottom: 8px;
    font-family: $bodyFont;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid #8B9476;
    overflow: word-break;
}

// About Page Buttons
.about-page-link,
.eg-page-link,
.website-link,
.hive-page-link {
    background-color: $hoverColor;
    color: $accentColor;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    display: inline-block;
    margin-top: 15px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.about-me-link {
    background-color: $brownColor;
    color: $accentColor;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    display: inline-block;
    margin-top: 15px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.about-page-button {
    padding-left: 30px;

    a {
        text-align: center;
    }
}

// Projects Page Buttons
.btn {
    padding: 0.8rem;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: $btnColor;
    text-align: center;
    margin-top: 10px;
  }
  
  .btn:hover {
    background-color: $hoverColor;
  }
 
  a:visited, 
  a:active,
  a:link {
      color: $lightColor;
  }