
// Skills Buttons
.skills-btn {
    padding: 10px;
    margin-left: 2px;
    margin-bottom: 8px;
    font-family: $bodyFont;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid #8B9476;
}

.website,
.details,
.about-me,
.contact,
.website-evergreen {
    padding: 15px 15px 15px 15px;
    margin-left: 5px;
    margin-bottom: 8px;
    font-family: $bodyFont;
    color: $accentColor;
    background-color: #9E693E;
    border: 1px solid black;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

a:visited,
a:active {
    color: $accentColor;
    text-decoration: none;
}

a:hover {
    background-color: $headerColor;
}

.about-me {
    margin-bottom: 50px;
    cursor: pointer;
}

.buttons-more {
    text-align: center;
    cursor: pointer;
}

.website-evergreen {
    margin-left: 15px;
    cursor: pointer;
}

.contact a {
    text-transform: uppercase;
    color: $accentColor;
    text-decoration: none;
    cursor: pointer;
}

// About Page Buttons
.about-page-link {
    background-color: $btnColor;
    color: $accentColor;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    display: inline-block;
    text-align: left;
}

.about-page-button {
    padding-left: 30px;
}