// Resets

/* Box Sizing Reset */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100vh;
}

*, 
*:before,
*:after {
  box-sizing: inherit;
}
  
  /* Img reset */
img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
}

body, 
h1, 
h2, 
h3, 
p {
  margin: 0;
  padding: 0;
}
