header {
    background-color: $headerColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    h1 {
        margin: 0;
        line-height: 60px;
        margin-left: 10px;
    }

    a {
        color: $accentColor;
        text-decoration: none;
    }
}

// Menu 
.menu {
    font-size: 1.8em;
    margin-right: 10px;
}

.menu-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

// Media Queries 