// Variables

// Colors
$btnColor: #9E693E;
$headerColor: #8B9476;
$accentColor: #FFEFE2;
$footerColor: #25371D;
$generalColor: #888887;
$boldColor: #000000;

// Fonts
$titleFont: 'DM Serif Display', serif;
$bodyFont: 'PT Sans', sans-serif;

// Line Height
$lineHeight: 1.5;

// Breakpoints
$mobileBP: 320px;
$tabletBP: 600px;
$desktopBP: 800px;