// Variables

// Colors
$btnColor: #2f6783a1;
$brownColor: #9E693E;
$hoverColor: #577a8f;
$headerColor: #8B9476;
$accentColor: #FFEFE2;
$footerColor: #25371D;
$greyColor: #888887;
$boldColor: #000000;
$lightColor: #ffffff;

// Fonts
$titleFont: 'DM Serif Display', serif;
$bodyFont: 'PT Sans', sans-serif;

// Line Height
$lineHeight: 1.5;

// Breakpoints
$mobileBP: 320px;
$tabletBP: 600px;
$desktopBP: 800px;